body {
  margin: 0;
  font-family: 'Space Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  cursor: url('/src/assets/cat_pixel_cursor.png'), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: var(--color-highlight);
}

a:hover, button:hover {
  cursor: url('/src/assets/cat_pixel_cursor.png'), pointer;
}

:root {
  --color-heading: #A79CC9;
  --color-text: #4B367C;
  --color-base: #B7C9E2;
  --color-highlight: #E7D7F4;
  --color-white: #FAF9FF;
}
