

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-base);
  flex-direction: column;
}

.content {
  display: flex;
  width: 100vw;
  flex: 1; 
  justify-content: center;
  align-items: center;
  gap: 2vh; 
}

.mainHeader {
  font-size: 4vw;
  font-style: bold;
  color: #171717;
  font-family: 'Press Start 2P';
  text-align: center;
  display: inline-block;
  line-height: 1.2;
  margin-top: 5vh; /* kazdy margin bedzie oddzialywal na ogolna wielkosc strony = dasz margin-top: 50px 
  to wtedy jak wrapper(div albo section albo inny html tag) ma 100% to po tym juz ma 100% + 5opx. PS staraj soe uzywac responsywnych miar, cos w stylu vh|vw */
  width: 40vw;
}

.image {
  position: absolute;
  width: 130vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease-out;
}

.image1 {
  background-image: url('../../assets/curtain.png');
  transform: translateY(0);
}

.image2 {
  background-image: url('../../assets/curtain.png');
  transform: translateY(0);
}

.container.loaded .image1 {
  transform: translateY(-100%);
}

.container.loaded .image2 {
  transform: translateY(100%);
}


.side-left, .side-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease;
}

.letter:hover {
  transform: scale(1.2);
  color: var(--color-highlight);
}


