.avatar {
    height: 200px;
}

.main-cloud {
    position: relative;
    background-image: url('../../assets/COLLAGE_ME.png');
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 500px;
    width: 500px;
    margin-left: 80px;
}

.main-cloud:hover {
    transform: scale(1.05);
  }


.cat {
    height: 30vmin;
    animation: cat-spin infinite 10s linear;
}

.cat:hover {
    animation: cat-spin infinite 5s linear;
}

.links {
    height: 100px;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: column;
}

a {
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

a:hover {
    color: var(--color-highlight);
    font-size: 24px;
}

@keyframes cat-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.title {
    font-size: 30px;
    transition: font-size 0.3s ease;
}

.title:hover {
    font-size: 35px;
}